* {
  margin: 0;
  text-align: center;
  color: white;
}

ul {
  list-style: none;
}

input,
button {
  all: unset;
}

input::placeholder {
  color: white;
  opacity: 0.7;
}

.hidden {
  display: none;
}

#bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
}

.wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper #clock {
  font-size: 140px;
}
.wrapper #greeting {
  font-size: 70px;
  font-weight: 400;
}

#login-form {
  font-size: 70px;
}

#login-form input {
  padding-bottom: 7px;
  border-bottom: 1px solid white;
}

#weather {
  position: fixed;
  top: 30px;
  right: 50px;
}
#quotes {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.todo {
  position: fixed;
  right: 50px;
  bottom: 30px;
  width: 200px;
  max-height: 200px;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: scroll;
  background-color: rgba(95, 94, 94, 0.6);
}

.todo::-webkit-scrollbar {
  display: none;
}

#todo-form input {
  width: 200px;
}

#todo-form input::placeholder {
  width: 100%;
  font-size: 13px;
  opacity: 1;
}

#todo-list {
  padding-left: 20px;
}

#todo-list li {
  position: relative;
  text-align: left;
  padding-left: 0;
}

#todo-list li button {
  position: absolute;
  top: 0;
  right: 0;
}
